<div class="inner___3CQrT">
  <div
    class="react-grid-layout layout layoutContainer___1Kdts fillingMode___gfjLB saveAsPdf___1OxU8"
  >
    <div
      id="SignatureComponent112"
      class="react-grid-item componentContainer___2cHvr react-resizable-hide react-resizable"
      style="
        top: 1270px;
        left: 10px;
        width: 740px;
        height: 155px;
        position: absolute;
      "
    >
      <div class="component___3xY2q html2pdf__page-break">
        <canvas class="hidden"></canvas>
        <div>
          <div class="form-group">
            <label class="control-label___3h6dQ control-label"
              >Please do some signature...</label
            >
            <div class="signatureCanvas___1ysX3" style="height: 120px">
              <div
                class="pdfSignature___2qpTw"
                style="
                  height: 118px;
                  background-image: url('https://app.arrivy.com/api/files/AMIfv97NEEmNstHuk2hu1qMDoWpFRShMsDmu46ie22RNVAkpMlfQA3dB6D3luHdXqvJqCWDnHfNse8RcnSPwCef1dev2EHdDNIzjROG5BShyYkDHp_ZQ4ezRjzCR_1VdYIB65K3hCyz_3NnVfrkVXBpQs2R60iVUmqeoydW0ty51qKh_Y17LnvkMtYdef5RkG_b0L6LtcqlswMQ3dcOzgZvldAycuqYHuOGnMKk8y5CVGnUyctRKayzRgehrrLh_xOyHqru2QmANaEma2U0-aHeE0shTp56kyhnqVB9GYyYmew5JmJtfdHpIflusm2N-nvC4m7CWx2ZQpsT4ITf0tazIM_P050N9TA?task_id=6565390589886464');
                "
              ></div>
            </div>
          </div>
        </div>
      </div>
      <span class="react-resizable-handle react-resizable-handle-se"></span>
    </div>
    <div
      id="SignatureComponent115"
      class="react-grid-item componentContainer___2cHvr react-resizable-hide react-resizable"
      style="
        top: 1435px;
        left: 10px;
        width: 740px;
        height: 155px;
        position: absolute;
      "
    >
      <div class="component___3xY2q">
        <canvas class="hidden"></canvas>
        <div>
          <div class="form-group">
            <label class="control-label___3h6dQ control-label"
              >Please do some signature...</label
            >
            <div class="signatureCanvas___1ysX3" style="height: 120px">
              <div
                class="pdfSignature___2qpTw"
                style="
                  height: 118px;
                  background-image: url('https://app.arrivy.com/api/files/AMIfv96w8dw7yv-zXtsE4AfW52zGihD_PKVJdDt4dlyT3bEdWAJW8ogF_56k_tKoxw1v4_bL7P0dg4FSfHl_aalwVlssWOacMYpFCTdiR0zx20Zcag43yiK1l5QYePEcNAUi6nF92RZMsZ2yy7Qyb8wNgTA-z5rOyT9iCsHBQzhbMDpaAiMhnjb4kVm8DnOApVLwywCGkzpMM2MErYqzs4rBwciKrY77cuEjT9W-8OhJQQCHNegaF8mKWHD0Z05h8fx9k1UcriMeXGiV5OR0m97qm1ILn96puRyhWooqvYTvQasfPLFsnom1VIeiqq7cEDE8Qf0ZYK2UPaqXKonIhbXKnRi4uIJ0lg?task_id=6565390589886464');
                "
              ></div>
            </div>
          </div>
        </div>
      </div>
      <span class="react-resizable-handle react-resizable-handle-se"></span>
    </div>
  </div>
</div>
