<div class="inner___3CQrT">
  <div
    class="react-grid-layout layout layoutContainer___1Kdts fillingMode___gfjLB saveAsPdf___1OxU8"
  >
    <div
      class="react-grid-item documentTitle___2evm_ react-resizable-hide react-resizable"
      style="
        top: 10px;
        left: 10px;
        width: 740px;
        height: 35px;
        position: absolute;
      "
    >
      <div class="title___3_50B">SSR Form 1</div>
      <span class="react-resizable-handle react-resizable-handle-se"></span>
    </div>
    <div
      id="ScreenBreakComponent130"
      class="react-grid-item componentContainer___2cHvr react-resizable-hide react-resizable"
      style="
        top: 55px;
        left: 10px;
        width: 740px;
        height: 65px;
        position: absolute;
      "
    >
      <div class="component___3xY2q">
        <div class="documentTitle___3orXR">
          <div class="title___1K0ik">Page 1</div>
        </div>
      </div>
      <span class="react-resizable-handle react-resizable-handle-se"></span>
    </div>
    <div
      id="TextComponent68"
      class="react-grid-item componentContainer___2cHvr react-resizable-hide react-resizable"
      style="
        top: 130px;
        left: 10px;
        width: 740px;
        height: 50px;
        position: absolute;
      "
    >
      <div class="component___3xY2q TextComponent___1rioI">
        <div class="textViewer___1t6Z4">Empty Text</div>
      </div>
      <span class="react-resizable-handle react-resizable-handle-se"></span>
    </div>
    <div
      id="TextInputComponent72"
      class="react-grid-item componentContainer___2cHvr react-resizable-hide react-resizable"
      style="
        top: 190px;
        left: 10px;
        width: 740px;
        height: 80px;
        position: absolute;
      "
    >
      <div class="component___3xY2q">
        <div>
          <div class="fill-area form-group">
            <label class="control-label___2umU0 control-label"
              >this is text input...</label
            >
            <p>this is text input...</p>
          </div>
        </div>
      </div>
      <span class="react-resizable-handle react-resizable-handle-se"></span>
    </div>
    <div
      id="NumberComponent78"
      class="react-grid-item componentContainer___2cHvr react-resizable-hide react-resizable"
      style="
        top: 280px;
        left: 10px;
        width: 740px;
        height: 80px;
        position: absolute;
      "
    >
      <div class="component___3xY2q">
        <div>
          <div class="fill-area form-group">
            <label class="control-label___2wONr control-label"
              >this is number...</label
            >
            <div class="numberControl___26Ft9"><p>12121</p></div>
          </div>
        </div>
      </div>
      <span class="react-resizable-handle react-resizable-handle-se"></span>
    </div>
    <div
      id="DateComponent84"
      class="react-grid-item componentContainer___2cHvr react-resizable-hide react-resizable"
      style="
        top: 370px;
        left: 10px;
        width: 740px;
        height: 80px;
        position: absolute;
      "
    >
      <div class="component___3xY2q">
        <div>
          <div class="fill-area form-group">
            <label class="control-label___3G_QT control-label"
              >this is date...</label
            >
            <p>2024-01-16</p>
          </div>
        </div>
      </div>
      <span class="react-resizable-handle react-resizable-handle-se"></span>
    </div>
    <div
      id="TimeComponent90"
      class="react-grid-item componentContainer___2cHvr react-resizable-hide react-resizable"
      style="
        top: 460px;
        left: 10px;
        width: 740px;
        height: 80px;
        position: absolute;
      "
    >
      <div class="component___3xY2q">
        <div>
          <div class="fill-area form-group">
            <label class="control-label___3n2iB control-label"
              >this is time...</label
            >
            <p>12:00 PM</p>
          </div>
        </div>
      </div>
      <span class="react-resizable-handle react-resizable-handle-se"></span>
    </div>
    <div
      id="CalculationComponent96"
      class="react-grid-item componentContainer___2cHvr react-resizable-hide react-resizable"
      style="
        top: 550px;
        left: 10px;
        width: 740px;
        height: 80px;
        position: absolute;
      "
    >
      <div class="component___3xY2q">
        <div>
          <div class="fill-area form-group">
            <label class="control-label___2OqQC control-label"
              >this is calculation...</label
            >
            <p></p>
          </div>
        </div>
      </div>
      <span class="react-resizable-handle react-resizable-handle-se"></span>
    </div>
    <div
      id="ImageComponent102"
      class="react-grid-item componentContainer___2cHvr react-resizable-hide react-resizable"
      style="
        top: 640px;
        left: 10px;
        width: 740px;
        height: 320px;
        position: absolute;
      "
    >
      <div class="component___3xY2q ImageComponent___1m1rQ">
        <div>
          <label class="control-label___3k-30 control-label"
            >this is image...</label
          >
          <div class="imageContainer___1iWst" style="justify-content: center">
            <div
              class="pdfImage___3kNUi"
              style="
                width: 100%;
                height: 120px;
                background-image: url('https://test-forms-ssr-dot-arrivy-sandbox.uc.r.appspot.com/api/files/AMIfv97PPdxXwPzyx_1byNqx9eLvSaUBstpXfoS6ATEyWz0D227yIkqEgfjtQbu0kY61NVVh6SHM9inFpOHYnWLuzTGsW-DQYniw4WkeScYffuae-z2Q5pUJbj7b2Lf-86fvbeoShZvgXmfPiEB7KwoQdOvVdt_UyFiFCQBW6Evv_jmKJmUCttumJ1VoSTi1jotQNnnmjWmfQ_KB7IB0pcGm3NZEzLNItDf3coHJNi8TXKucTtCLdl6sxovuUaRtAiXpwIaH-UqrlxIxLu-48GEqJ6Dva-htplgEm9JKHP-DQNI_fUtpHbp39U-iiuDA9i710aMFTizLTcpEnMlvpW2zEFKJOTwVOA');
              "
            ></div>
          </div>
        </div>
      </div>
      <span class="react-resizable-handle react-resizable-handle-se"></span>
    </div>
    <div
      class="react-grid-item componentContainer___2cHvr react-resizable-hide react-resizable"
    >
      <div class="component___3xY2q">
        <div>
          <label class="control-label___1ekK5 control-label"
            >this is files upload...</label
          >
          <div class="imageContainer___2cvhJ">
            <div
              class="actualDropZone___1aWGK hidden"
              id="dropzone1"
              aria-disabled="false"
            >
              <div class="dropMsg___3_nCz">
                drop files or<span>&nbsp;browse</span>
              </div>
              <input
                type="file"
                multiple=""
                autocomplete="off"
                style="display: none"
              />
            </div>
            <div id="uploadFile" class="fileUploaderMobile___2XmoS">
              <div class="form-group fileUploaderMobileBtn___R1DiJ hidden">
                <label>Take Photos (or Attach)</label
                ><input type="file" multiple="" class="form-control" />
              </div>
              <div class="dropMsg___3_nCz"></div>
            </div>
          </div>
          <div class="uploadFilesContainer___3yaxg">
            <div class="uploadFilesPreviews___QRTA2 fullPdfWidth___Qj30a">
              <div
                class="imagePreviewContainer___1e8Ql width25___3kRmm"
                style="max-width: 25%"
              >
                <div>
                  <div
                    data-fancybox="pictures"
                    data-src="https://test-forms-ssr-dot-arrivy-sandbox.uc.r.appspot.com/api/files/AMIfv969Dag3cmX7PCWKiy_oJ5s-oIRBNsbIXuK3mlEbeMlZRPTmNdBxBh1chIVr74igq8Dm8qzIT_FuSNUs4qZ3uKP89PGBZ1XAZofW0fVMeFpGvkIH8smyoDc2rA0TRqzZ_xhDNydDjzBK2CYYTkk1oOLqJ75ThGv5vp956juLcgx9ty_PbFReLyxnLtkgQ-g_ecD4t7fYh0T4hda0dyzEMjVHumphTxJUQVij6NEbbkVCuXe9RXigoH0h7tXGIhIhznRM-TicB3fnSENBWVuwNpMs7CPYMpFnUeUanwiqOqO6zHpNm5j27gdRVpPSwVeYp6UOc_9YLDFuBDPRVClh3XqRQAIp9Q-F0F0Fk3HiweQDATybqng"
                    class="pdfImage___1iX0J"
                    style="
                      height: 150px;
                      background-image: url('https://test-forms-ssr-dot-arrivy-sandbox.uc.r.appspot.com/api/files/AMIfv969Dag3cmX7PCWKiy_oJ5s-oIRBNsbIXuK3mlEbeMlZRPTmNdBxBh1chIVr74igq8Dm8qzIT_FuSNUs4qZ3uKP89PGBZ1XAZofW0fVMeFpGvkIH8smyoDc2rA0TRqzZ_xhDNydDjzBK2CYYTkk1oOLqJ75ThGv5vp956juLcgx9ty_PbFReLyxnLtkgQ-g_ecD4t7fYh0T4hda0dyzEMjVHumphTxJUQVij6NEbbkVCuXe9RXigoH0h7tXGIhIhznRM-TicB3fnSENBWVuwNpMs7CPYMpFnUeUanwiqOqO6zHpNm5j27gdRVpPSwVeYp6UOc_9YLDFuBDPRVClh3XqRQAIp9Q-F0F0Fk3HiweQDATybqng');
                    "
                  ></div>
                </div>
                <div class="images-quantity___3vAxZ">
                  <span> this is files upload... - image (1).png</span>
                  <div class="crop-icon___SPFdW"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div
      id="SignatureComponent116"
      class="react-grid-item componentContainer___2cHvr react-resizable-hide react-resizable"
      style="
        top: 1405px;
        left: 10px;
        width: 740px;
        height: 215px;
        position: absolute;
      "
    >
      <div class="component___3xY2q">
        <canvas class="hidden"></canvas>
        <div>
          <div class="form-group">
            <label class="control-label___3h6dQ control-label"
              >this is signature...</label
            >
            <div class="signatureCanvas___1ysX3" style="height: 120px">
              <div
                class="pdfSignature___2qpTw"
                style="
                  height: 118px;
                  background-image: url('https://test-forms-ssr-dot-arrivy-sandbox.uc.r.appspot.com/api/files/AMIfv96koWT5k--0rjRMoJslDv2oge-PhFNMupTnojfaewDzdfmkuRghNmfV6NitAIcL6kYzWpdnxWju_WtQuAdRikHI_ARvhEthUbOZJMrE2L3U4-gtR07yYWhkH1caUcLFdi_9S_c1SzmfNoQjxCmkqRUsavLyBqy2s2tmXkR5BbTCJEyX6glRhkOQV2V0HR_9MPfoCfJYJqDrd1xh-zWpKMcLV-fHqRE0Xa9WCan0Q2nbADowJZlpsrH4WUAASyU-T8I8aMDDel6IM8tPBuFafUk5Pale1BQLO-zHeAX0nohPe4XSrgNMlQL91Yq1Bisa7m5Bw97dVPCGzZp8oTW3hb9-x5slBgIw4FRs-Cv2oiEvhBwbMy4');
                "
              ></div>
            </div>
          </div>
        </div>
      </div>
      <span class="react-resizable-handle react-resizable-handle-se"></span>
    </div>
  </div>
</div>
