<div class="inner___3CQrT">
  <div
    class="react-grid-layout layout layoutContainer___1Kdts fillingMode___gfjLB saveAsPdf___1OxU8"
  >
    <div
      class="react-grid-item documentTitle___2evm_ react-resizable-hide react-resizable"
      style="
        top: 10px;
        left: 10px;
        width: 740px;
        height: 35px;
        position: absolute;
      "
    >
      <div class="title___3_50B">Form no 1 1</div>
      <span class="react-resizable-handle react-resizable-handle-se"></span>
    </div>
    <div
      id="ScreenBreakComponent72"
      class="react-grid-item componentContainer___2cHvr react-resizable-hide react-resizable"
      style="
        top: 55px;
        left: 10px;
        width: 740px;
        height: 50px;
        position: absolute;
      "
    >
      <div class="component___3xY2q">
        <div class="documentTitle___3orXR">
          <div class="title___1K0ik">Page 1</div>
        </div>
      </div>
      <span class="react-resizable-handle react-resizable-handle-se"></span>
    </div>
    <div
      id="TextComponent21"
      class="react-grid-item componentContainer___2cHvr react-resizable-hide react-resizable"
      style="
        top: 115px;
        left: 10px;
        width: 740px;
        height: 50px;
        position: absolute;
      "
    >
      <div class="component___3xY2q TextComponent___1rioI">
        <div class="textViewer___1t6Z4">Empty Text</div>
      </div>
      <span class="react-resizable-handle react-resizable-handle-se"></span>
    </div>
    <div
      id="TextInputComponent31"
      class="react-grid-item componentContainer___2cHvr react-resizable-hide react-resizable"
      style="
        top: 175px;
        left: 10px;
        width: 740px;
        height: 80px;
        position: absolute;
      "
    >
      <div class="component___3xY2q">
        <div>
          <div class="fill-area form-group">
            <label class="control-label___2umU0 control-label"
              >Please enter something...</label
            >
            <p>this is something entered</p>
          </div>
        </div>
      </div>
      <span class="react-resizable-handle react-resizable-handle-se"></span>
    </div>
    <div
      id="TimeComponent38"
      class="react-grid-item componentContainer___2cHvr react-resizable-hide react-resizable"
      style="
        top: 265px;
        left: 10px;
        width: 740px;
        height: 80px;
        position: absolute;
      "
    >
      <div class="component___3xY2q">
        <div>
          <div class="fill-area form-group">
            <label class="control-label___3n2iB control-label"
              >Please enter some time...</label
            >
            <p>12:00 PM</p>
          </div>
        </div>
      </div>
      <span class="react-resizable-handle react-resizable-handle-se"></span>
    </div>
    <div
      id="DateComponent45"
      class="react-grid-item componentContainer___2cHvr react-resizable-hide react-resizable"
      style="
        top: 355px;
        left: 10px;
        width: 740px;
        height: 80px;
        position: absolute;
      "
    >
      <div class="component___3xY2q">
        <div>
          <div class="fill-area form-group">
            <label class="control-label___3G_QT control-label"
              >Please enter some date...</label
            >
            <p>2024-01-09</p>
          </div>
        </div>
      </div>
      <span class="react-resizable-handle react-resizable-handle-se"></span>
    </div>
    <div
      id="DropDownComponent51"
      class="react-grid-item componentContainer___2cHvr react-resizable-hide react-resizable"
      style="
        top: 445px;
        left: 10px;
        width: 740px;
        height: 50px;
        position: absolute;
      "
    >
      <div class="component___3xY2q">
        <div>
          <div class="fill-area form-group">
            <label class="control-label___dQy5B control-label"></label>
            <p>abc</p>
          </div>
        </div>
      </div>
      <span class="react-resizable-handle react-resizable-handle-se"></span>
    </div>
    <div
      id="SignatureComponent56"
      class="react-grid-item componentContainer___2cHvr react-resizable-hide react-resizable"
      style="
        top: 505px;
        left: 10px;
        width: 740px;
        height: 215px;
        position: absolute;
      "
    >
      <div class="component___3xY2q">
        <canvas class="hidden"></canvas>
        <div>
          <div class="form-group">
            <label class="control-label___3h6dQ control-label"
              >Please do some signature...</label
            >
            <div class="signatureCanvas___1ysX3" style="height: 120px">
              <div
                class="pdfSignature___2qpTw"
                style="
                  height: 118px;
                  background-image: url('https://app.arrivy.com/api/files/AMIfv97UuHZ_7Q76yWTOiEPLqC6CRJHSJFYixCy9fk2XyQFkTHRD9HSq9flsLxkAxZAv9TZCNeClo6P-jxSleVf-ff-gjW4W7t4JmTlqOyehjUskRyeTaCOzI4v_0PvoSrFwbvNiUIb2onuzGVe9HLRehg3lzD_hKQETvJ7y2vTBP1YmnQ3KYZEzcpgwu7UHgYv3pT8kHeg_nUUGGEcoFGaNq7_X_2XIk6imQGlbnOawIApmVEwmwgq8sghwmaVgiYgLufb9Uw3RXKt29bGR4fpiIzPYqOD5kidZpR9h_dPBpePt4rbQp3pRKQ5Sq7AIpdfdoyszZ5oXaMADgqx-0-MrTdr2R0svRQ?task_id=6565390589886464');
                "
              ></div>
            </div>
          </div>
        </div>
      </div>
      <span class="react-resizable-handle react-resizable-handle-se"></span>
    </div>
    <div
      id="LineBreakComponent63"
      class="react-grid-item componentContainer___2cHvr react-resizable-hide react-resizable"
      style="
        top: 730px;
        left: 10px;
        width: 740px;
        height: 20px;
        position: absolute;
      "
    >
      <div class="component___3xY2q LineBreakComponent___2e3Dz">
        <div class="lineBrake___23kha" style="height: 10px"></div>
      </div>
      <span class="react-resizable-handle react-resizable-handle-se"></span>
    </div>
    <div
      id="ScreenBreakComponent80"
      class="react-grid-item componentContainer___2cHvr react-resizable-hide react-resizable"
      style="
        top: 760px;
        left: 10px;
        width: 740px;
        height: 50px;
        position: absolute;
      "
    >
      <div class="component___3xY2q">
        <div class="documentTitle___3orXR">
          <div class="title___1K0ik">Page 2</div>
        </div>
      </div>
      <span class="react-resizable-handle react-resizable-handle-se"></span>
    </div>
    <div
      id="TableComponent85"
      class="react-grid-item componentContainer___2cHvr react-resizable-hide react-resizable"
      style="
        top: 820px;
        left: 10px;
        width: 740px;
        height: 275px;
        position: absolute;
      "
    >
      <div class="component___3xY2q">
        <div>
          <div class="fill-area form-group">
            <label class="control-label___9_7Xb control-label"
              >Please fill the table...</label
            >
            <div class="tableResponsive___2gz1Y">
              <table
                class="table___ma1-r table-bordered___3M2Ih"
                style="border-color: rgb(183, 28, 28)"
              >
                <tbody>
                  <th>Column 1</th>
                  <th>Column 2</th>
                  <th>Column 3</th>
                  <th>Column 4</th>
                  <tr>
                    <td>
                      <div
                        class="contentEditable___28DpN"
                        contenteditable="true"
                      >
                        1
                      </div>
                    </td>
                    <td>
                      <div
                        class="contentEditable___28DpN"
                        contenteditable="true"
                      >
                        2
                      </div>
                    </td>
                    <td>
                      <div
                        class="contentEditable___28DpN"
                        contenteditable="true"
                      >
                        3
                      </div>
                    </td>
                    <td>
                      <div
                        class="contentEditable___28DpN"
                        contenteditable="true"
                      >
                        4
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <div
                        class="contentEditable___28DpN"
                        contenteditable="true"
                      >
                        5
                      </div>
                    </td>
                    <td>
                      <div
                        class="contentEditable___28DpN"
                        contenteditable="true"
                      >
                        6
                      </div>
                    </td>
                    <td>
                      <div
                        class="contentEditable___28DpN"
                        contenteditable="true"
                      >
                        7
                      </div>
                    </td>
                    <td>
                      <div
                        class="contentEditable___28DpN"
                        contenteditable="true"
                      >
                        8
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <div
                        class="contentEditable___28DpN"
                        contenteditable="true"
                      >
                        9
                      </div>
                    </td>
                    <td>
                      <div
                        class="contentEditable___28DpN"
                        contenteditable="true"
                      >
                        10
                      </div>
                    </td>
                    <td>
                      <div
                        class="contentEditable___28DpN"
                        contenteditable="true"
                      >
                        11
                      </div>
                    </td>
                    <td>
                      <div
                        class="contentEditable___28DpN"
                        contenteditable="true"
                      >
                        12
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <div
                        class="contentEditable___28DpN"
                        contenteditable="true"
                      >
                        13
                      </div>
                    </td>
                    <td>
                      <div
                        class="contentEditable___28DpN"
                        contenteditable="true"
                      >
                        14
                      </div>
                    </td>
                    <td>
                      <div
                        class="contentEditable___28DpN"
                        contenteditable="true"
                      >
                        15
                      </div>
                    </td>
                    <td>
                      <div
                        class="contentEditable___28DpN"
                        contenteditable="true"
                      >
                        16
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <span class="react-resizable-handle react-resizable-handle-se"></span>
    </div>
    <div
      id="SignatureComponent104"
      class="react-grid-item componentContainer___2cHvr react-resizable-hide react-resizable"
      style="
        top: 1105px;
        left: 10px;
        width: 740px;
        height: 155px;
        position: absolute;
      "
    >
      <div class="component___3xY2q">
        <canvas class="hidden"></canvas>
        <div>
          <div class="form-group">
            <label class="control-label___3h6dQ control-label"
              >Please do some signature...</label
            >
            <div class="signatureCanvas___1ysX3" style="height: 120px">
              <div
                class="pdfSignature___2qpTw"
                style="
                  height: 118px;
                  background-image: url('https://app.arrivy.com/api/files/AMIfv95Ukm8x_qSIj4M7Wpye6zuqyj7paChKHZ0BRSi-oqWvcNl8ttA4np0cXKL-AW2Yeu9RtS9B1hpFyJfyVQ87EjdJN6JSzLFPjkCQiEDtVXVhrh4BcgwZYSIex4zOYuD5a1f1eA8hj0tQ90UtENgeBKdmwoF26RHrfvrdoypNiCpaAfYvLlRetq9W7DgGkNLs01w7QE-q9dDy9pTvwsHNMOlvRDqhJSXdelbDyA5Ie_3pYSKryuu9b1fWSW_2cXoKNBcfZB7vHjGJPV5LLuYNZaHke12zDVNrCK3-Hi6wwvKJiK0WdEUXXwLGFtRR-3_8LT1mKcQQG7BXnnx32jMPjyLYmJDvJg?task_id=6565390589886464');
                "
              ></div>
            </div>
          </div>
        </div>
      </div>
      <span class="react-resizable-handle react-resizable-handle-se"></span>
    </div>
  </div>
</div>
