<div class="inner___3CQrT">
  <div
    class="react-grid-layout layout layoutContainer___1Kdts fillingMode___gfjLB saveAsPdf___1OxU8"
  >
    <div
      id="ChecklistComponent198"
      class="react-grid-item componentContainer___2cHvr react-resizable-hide react-resizable"
      style="
        top: 3415px;
        left: 10px;
        width: 740px;
        height: 170px;
        position: absolute;
      "
    >
      <div class="component___3xY2q">
        <div class="">
          <label class="control-label___FcZmw control-label"></label>
          <div class="checkBox___1g-9X checkbox">
            <label title=""
              ><input type="checkbox" /><span>check 1</span></label
            >
          </div>
          <div class="checkBox___1g-9X checkbox">
            <label title=""
              ><input type="checkbox" /><span>check 2</span></label
            >
          </div>
          <div class="checkBox___1g-9X checked___2E5Kb checkbox">
            <label title=""
              ><input type="checkbox" checked="" /><span
                style="
                  background-image: url('/images/task-form/checkbox-checked-40.jpg');
                "
                >check 3</span
              ></label
            >
          </div>
          <div class="checkBox___1g-9X checkbox">
            <label title=""
              ><input type="checkbox" /><span>check 4</span></label
            >
          </div>
          <div class="checkBox___1g-9X checkbox">
            <label title=""
              ><input type="checkbox" /><span>check 5</span></label
            >
          </div>
        </div>
      </div>
      <span class="react-resizable-handle react-resizable-handle-se"></span>
    </div>
    <div
      id="HorizontalRuleComponent204"
      class="react-grid-item componentContainer___2cHvr react-resizable-hide react-resizable"
      style="
        top: 3595px;
        left: 10px;
        width: 740px;
        height: 20px;
        position: absolute;
      "
    >
      <div class="component___3xY2q HorizontalRuleComponent___104BK">
        <hr
          class="horizontalRule___3Vpwt"
          style="border-top-color: rgb(183, 28, 28); border-top-width: 10px"
        />
      </div>
      <span class="react-resizable-handle react-resizable-handle-se"></span>
    </div>
    <div
      id="LineBreakComponent211"
      class="react-grid-item componentContainer___2cHvr react-resizable-hide react-resizable"
      style="
        top: 3625px;
        left: 10px;
        width: 740px;
        height: 50px;
        position: absolute;
      "
    >
      <div class="component___3xY2q LineBreakComponent___2e3Dz">
        <div class="lineBrake___23kha" style="height: 33px"></div>
      </div>
      <span class="react-resizable-handle react-resizable-handle-se"></span>
    </div>
    <div
      id="TableComponent218"
      class="react-grid-item componentContainer___2cHvr react-resizable-hide react-resizable"
      style="
        top: 3685px;
        left: 10px;
        width: 740px;
        height: 290px;
        position: absolute;
      "
    >
      <div class="component___3xY2q">
        <div>
          <div class="fill-area form-group">
            <label class="control-label___9_7Xb control-label"
              >this is table...</label
            >
            <div class="tableResponsive___2gz1Y">
              <table
                class="table___ma1-r table-bordered___3M2Ih"
                style="border-color: rgb(230, 81, 0)"
              >
                <tbody>
                  <th>col1</th>
                  <th>col2</th>
                  <th>col3</th>
                  <th>col4</th>
                  <th>col5</th>
                  <tr>
                    <td>
                      <div
                        class="contentEditable___28DpN"
                        contenteditable="true"
                      >
                        1
                      </div>
                    </td>
                    <td>
                      <div
                        class="contentEditable___28DpN"
                        contenteditable="true"
                      >
                        2
                      </div>
                    </td>
                    <td>
                      <div
                        class="contentEditable___28DpN"
                        contenteditable="true"
                      >
                        3
                      </div>
                    </td>
                    <td>
                      <div
                        class="contentEditable___28DpN"
                        contenteditable="true"
                      >
                        4
                      </div>
                    </td>
                    <td>
                      <div
                        class="contentEditable___28DpN"
                        contenteditable="true"
                      >
                        5
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <div
                        class="contentEditable___28DpN"
                        contenteditable="true"
                      >
                        6
                      </div>
                    </td>
                    <td>
                      <div
                        class="contentEditable___28DpN"
                        contenteditable="true"
                      >
                        7
                      </div>
                    </td>
                    <td>
                      <div
                        class="contentEditable___28DpN"
                        contenteditable="true"
                      >
                        8
                      </div>
                    </td>
                    <td>
                      <div
                        class="contentEditable___28DpN"
                        contenteditable="true"
                      >
                        9
                      </div>
                    </td>
                    <td>
                      <div
                        class="contentEditable___28DpN"
                        contenteditable="true"
                      >
                        10
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <div
                        class="contentEditable___28DpN"
                        contenteditable="true"
                      >
                        11
                      </div>
                    </td>
                    <td>
                      <div
                        class="contentEditable___28DpN"
                        contenteditable="true"
                      >
                        12
                      </div>
                    </td>
                    <td>
                      <div
                        class="contentEditable___28DpN"
                        contenteditable="true"
                      >
                        13
                      </div>
                    </td>
                    <td>
                      <div
                        class="contentEditable___28DpN"
                        contenteditable="true"
                      >
                        14
                      </div>
                    </td>
                    <td>
                      <div
                        class="contentEditable___28DpN"
                        contenteditable="true"
                      >
                        15
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <div
                        class="contentEditable___28DpN"
                        contenteditable="true"
                      >
                        16
                      </div>
                    </td>
                    <td>
                      <div
                        class="contentEditable___28DpN"
                        contenteditable="true"
                      >
                        17
                      </div>
                    </td>
                    <td>
                      <div
                        class="contentEditable___28DpN"
                        contenteditable="true"
                      >
                        18
                      </div>
                    </td>
                    <td>
                      <div
                        class="contentEditable___28DpN"
                        contenteditable="true"
                      >
                        19
                      </div>
                    </td>
                    <td>
                      <div
                        class="contentEditable___28DpN"
                        contenteditable="true"
                      >
                        20
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <div
                        class="contentEditable___28DpN"
                        contenteditable="true"
                      >
                        21
                      </div>
                    </td>
                    <td>
                      <div
                        class="contentEditable___28DpN"
                        contenteditable="true"
                      >
                        22
                      </div>
                    </td>
                    <td>
                      <div
                        class="contentEditable___28DpN"
                        contenteditable="true"
                      >
                        23
                      </div>
                    </td>
                    <td>
                      <div
                        class="contentEditable___28DpN"
                        contenteditable="true"
                      >
                        24
                      </div>
                    </td>
                    <td>
                      <div
                        class="contentEditable___28DpN"
                        contenteditable="true"
                      >
                        25
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <span class="react-resizable-handle react-resizable-handle-se"></span>
    </div>
  </div>
</div>
